.subheading{
	font-size:300% !important;
}

.jumbotron {
	margin-bottom: -10px;
	color: white !important;
	background-color: black !important;
	box-shadow: 0 10px 5px rgba(0,0,0,0.3);
	z-index: 1;
	position: relative;
}
.content{
	background-image: url("../css/lonimg.png");
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
}

footer{
	background-color: black !important;
	color: white !important;
	height: 60px !important;
  	bottom:0;
  	width: 100%;
  	box-shadow: 0 -10px 5px rgba(0,0,0,0.3);
  	z-index: 1;
  	position: fixed;
}
.panel{
	width: 46%;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
	height: 330px;
	z-index: 2;
}
.resturantinfobox{
	float: right;
	margin: 30px;
	margin-left: 15px;
	z-index: 2;
}
.mapbox{
	float: left;
	margin: 30px;
	margin-right: 15px;
	z-index: 2;
}
body{
	overflow: hidden;
}

.onloadrestinfo{

}

.onloadmapbox{

}
.wrapper{
	
}

img{

}
